/* pages/more/more.wxss */
page {
  background-color: #f1f1f1;
}
.custom-navbar {
  --td-navbar-color: #2c2f3b;
  --td-navbar-bg-color: #8f86e0;
}

.block {
  display: block;
  margin-bottom: 32rpx;
}